name: Build Linux

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install dependencies
      run: npm install

    - name: Build Linux package
      run: npm run package

    - name: Upload Linux artifact
      uses: actions/upload-artifact@v4
      with:
        name: lofi-room-linux
        path: out/lofi-room-linux-x64/
        include-hidden-files: true
        retention-days: 7
